.App {
  text-align: center;
}

.home{
  background-image: url("https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z2FtaW5nJTIwZXZlbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
background-size: cover;
width: 100%;
height: 800px;
 filter: brightness(100%);
position: fixed;


}

.home > div{
  display: flex;
  gap: 30px;
  width: 50%;
  
  color: white;
  font-size: 30px;
  align-items: center;
  
  
}
 
.newbtn{
  padding: 10px;
  width: 100px;
  border: none;
  background-color: rgb(59, 163, 7);
  color: white;
  cursor: pointer;
}

.gamepage{
  display: flex;
  width: 90%;
  margin: auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  flex-wrap: wrap;
  margin-top: 40px;
  background-color: whitesmoke;
}

.gamepage > div{
  margin: auto;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-align: center;
  margin-top: 40px;
  
}

.gamecardImg{
  width: 80%;
  height: 450px;
 
  margin: auto;
  margin-top: 20px;
  
}

.addbtn{
 border: none;
 padding: 20px;
 background-color: gray;
 width: 30%;
 margin-bottom: 20px;
 background-color: rgb(59, 163, 7);
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.gamepage1 > div{
  margin: auto;
  width: 30%;
 height: 650px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-align: center;
  margin-top: 20px;
  
}

.gamecardImg1{
  width: 80%;
  height: 300px;
 
  margin: auto;
  margin-top: 20px;
  
}

.optionsDiv{
  
  height: 200px;
}

.optionsDiv > div{
  display: flex;
  height: 40px;
  justify-content: space-around;
 
  align-items: center;

}

.Enqbtn{
   border: none;
padding: 5px;
 background-color: gray;
 width: 30%;
 margin-bottom: 20px;
 background-color: rgb(59, 163, 7);
  color: white;
  cursor: pointer;
  font-weight: 700;
}